# Site settings
course_name: Deep Learning
course_description: "Deep learning is one of the core techniques in modern AI. It is also the fundamental tool for handling massive data in the \"Big Data\" era. This course aims to provide a comprehensive overview of the basic ideas, methods and techniques of deep learning. Students will be also asked to use deep learning approaches to solve real-world problems in homework and final project. The course topics include supervised learning, generative models, sequence models, unsupervised learning, meta-learning, security and explainability."
course_semester: "Spring 2026"

baseurl: "/DeepLearning2026" # the subpath of your site, e.g. /blog/
url: "http://openpsi-project.github.io/" # the base hostname & protocol for your site

schoolname: "Tsinghua University"
schoolurl: "https://www.tsinghua.edu.cn"
twitter_username: null 

address: |
    Institute for Interdisciplinary Information Sciences
    Tsinghua University
    China

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
timezone: Asia/Shanghai
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
