# Site settings
course_name: Deep Learning
course_description: "Deep Learning 2026"
course_semester: "2026 Spring"

baseurl: "/DeepLearning2026" # the subpath of your site, e.g. /blog/
url: "http://openpsi-project.github.io/" # the base hostname & protocol for your site

schoolname: "Tsinghua University"
schoolurl: "https://www.tsinghua.edu.cn"
iiisurl: "https://iiis.tsinghua.edu.cn/"
# twitter_username: username 

address: |
    Tsinghua University
    Beijing, China

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
